#wrapper {
        width: 100vw;
        color: white;
}
#heading {
        width: 98vw;
        background-color: #333333;
        height: 2.5vw;
        font-family: 'Oswald', sans-serif;
        font-size: 2vw;
        padding-left: 2vw;
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
}
#content {
        width: 100vw;
        height: 97.5vw;
}
#menu {
        background-color: #333333;
        width: 100vw;
        height: 5vw;
        text-align: center;
        float: left;
}
#page {
        color: black;
        width: 100vw;
        height: 100vw;
        float: right;
}

#section {
        width: 30vw;
        float: center;
}
.nav ul {
        list-style: none;
        background-color: #404040;
        text-align: center;
        padding: 0;
        margin: 0;
}

.nav li {
        font-family: 'Oswald', sans-serif;
        font-size: 1.2em
        line-height: 40px;
        height: 40px;
        border-bottom: 1px solid #888;
}

.nav a {
        text-decoration: none;
        color: #fff;
        display: block;
        transition: .3s background-color;
}
.nav a:link, a:visited {
}
.nav a:hover, a:active {
        background-color: #005f5f;
}


@media screen and (min-width: 600px) {
        .nav li {
                width: 120px;
                border-bottom: none;
                height: 50px;
                line-height: 50px;
                font-size: 1.4em;
        }
        /* display inline */
        .nav li {
                display: inline-block;
                margin-right: -4px;
        }

}

#container {
        text-align: center;
}

div.centerColumn {
    width: 40%;
    margin: 0 0% 0 30%;
}

.button {
        padding: 10px;
        width:14%;
        font-size: 14px;
        font-family: 'Oswald', sans-serif;
        background-color: #333333;
        border: none;
        color: #fff;
        text-align: center;
        transition: .3s background-color;
        display: inline-block;
        border-radius: 8px;
        float: right;
}
.button:hover {
        background-color: #005f5f;  
}



.row section {
        width: 100%;
        height: 10%;
        border-bottom: 1px, solid, #333333;
}
.row context {
        padding-left: 5%;
        padding-top: 0.5vw;
        font-family: 'Oswald', sans-serif;
        font-size: 2em;
        padding-bottom: 5px;
        border-bottom: 1px, solid, #333333;
}

.h1, h1 {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
}

.h1 small, small{
    font-size: 50%;
    font-color: #777;
}

.page-header {
        padding-bottom: 4px;
        margin: 20px 20px 20px;
        border-bottom: 1px solid #eee;
}


input{
        font-size: 1em;
        font-family: 'Oswald', sans-serif;
}


.fileUpload {
        font-family: 'Oswald', sans-serif;
}


.custom_file_upload {
        width: 230px;
        height: 20px;
        margin: 40px auto;
}

input.file {
        width: 150px;
        height: 20px;
        border: 1px solid #BBB;
        border-right: 0;
        color: #404040;
        padding: 5px;
        
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        
        outline: none;
}

.file_upload {
        width: 80px;
        height: 24px;
        background: #7abcff;
        background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
        background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
        background: -o-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
        background: -ms-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
        background: linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );

        display: inline;
        position: absolute;
        overflow: hidden;
        cursor: pointer;
        
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        
        font-weight: bold;
        color: #FFF;
        text-align: center;
        padding-top: 8px;
}
.file_upload:before {
        content: 'UPLOAD';
        position: absolute;
        left: 0; right: 0;
        text-align: center;
        
        cursor: pointer;
}

.file_upload input {
        position: relative;
        height: 30px;
        width: 250px;
        display: inline;
        cursor: pointer;
        opacity: 0;
}

