table, th, td {
   font-family: 'Oswald', sans-serif;
}
th, td {
      border: 1px solid #ddd;
      padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
}
th {
    font-size: 1.1em;
    background-color: #404040;
    color: #ffffff;
    height: 30px;

}
tr:nth-child(even) {
    background: #f2f2f2;
}
tr:hover {
    background-color: #20B2AA;
}
select {
    width:100%;
}
p {
display: inline;
}


/*#star {
    color: #ffcc00;
    unicode-bidi: bidi-override;
    direction: rtl;
}

#star:hover:before,
#star:hover ~ #star:before {
   content: "\2605";
   position: absolute;
}
*/
